# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Distribution / packaging
.Python
env/
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg

# PyInstaller
#  Usually these files are written by a python script from a template
#  before PyInstaller builds the exe, so as to inject date/other infos into it.
*.manifest
*.spec

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
htmlcov/
.tox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*,cover
.hypothesis/

# Translations
*.mo
*.pot

# Django stuff:
*.log

# Sphinx documentation
Documentation/generated
Documentation/_build
Documentation/TractableBufferStockModel.rst
Documentation/MultithreadDemo.rst
Documentation/modules.rst
Documentation/ConsumerParameters.rst
Documentation/ConsPrefShockModel.rst
Documentation/ConsMarkovModel.rst
Documentation/ConsIndShockModel.rst
Documentation/ConsAggShockModel.rst
Documentation/StructEstimation.rst
Documentation/SetupSCFdata.rst
Documentation/EstimationParameters.rst
Documentation/SetupParamsCSTW.rst
Documentation/cstwMPC.rst
Documentation/FashionVictimParams.rst
Documentation/FashionVictimModel.rst
Documentation/HARKutilities.rst
Documentation/HARKsimulation.rst
Documentation/HARKparallel.rst
Documentation/HARKinterpolation.rst
Documentation/HARKestimation.rst
Documentation/HARKcore.rst
doc/_build/
doc/generated/

# PyBuilder
target/

#Ipython Notebook
.ipynb_checkpoints

#Windows files
Thumbs.db

## Core latex/pdflated auxiliary files:
*.aux
*.lof
*.log
*.lot
*.fls
*.out
*.toc
*.fmt

## Intermediate documents:
*.dvi
*-converted-to.*

## Bibliography auxiliary files (bibtex/biblatex/biber):
*.bbl
*.bcf
*.blg
*-blx.aux
*-blx.bib
*.brf
*.run.xml

## Build tool auxiliary files:
*.fdb_latexmk
*.synctex
*.synctex.gz
*.synctex.gz(busy)
*.pdfsync

## Auxiliary and intermediate files from other packages:
# algorithms
*.alg
*.loa

# achemso
acs-*.bib

# amsthm
*.thm

# beamer
*.nav
*.snm
*.vrb

# cprotect
*.cpt

#(e)ledmac/(e)ledpar
*.end
*.[1-9]
*.[1-9][0-9]
*.[1-9][0-9][0-9]
*.[1-9]R
*.[1-9][0-9]R
*.[1-9][0-9][0-9]R
*.eledsec[1-9]
*.eledsec[1-9]R
*.eledsec[1-9][0-9]
*.eledsec[1-9][0-9]R
*.eledsec[1-9][0-9][0-9]
*.eledsec[1-9][0-9][0-9]R

# glossaries
*.acn
*.acr
*.glg
*.glo
*.gls

# gnuplottex
*-gnuplottex-*

# hyperref
*.brf

# knitr
*-concordance.tex
*.tikz
*-tikzDictionary

# listings
*.lol

# makeidx
*.idx
*.ilg
*.ind
*.ist

# minitoc
*.maf
*.mtc
*.mtc[0-9]
*.mtc[1-9][0-9]

# minted
_minted*
*.pyg

# morewrites
*.mw

# mylatexformat
*.fmt

# nomencl
*.nlo

# sagetex
*.sagetex.sage
*.sagetex.py
*.sagetex.scmd

# sympy
*.sout
*.sympy
sympy-plots-for-*.tex/

#pdfcomment
*.upa
*.upb

# pythontex
*.pytxcode
pythontex-filse-*/

# Texpad
*.texpadtmp

# TikZ & PGF
*.dpth
*.md5
*.auxlock

# todonotes
*.tdo

# xindy
*.xdy

# xypic precompiled matrices
*.xyc

# WinEdt
*.bak
*.sav

# endfloat
*.ttt
*.fff

# Latexian
TSWLatexianTemp

# Files for initializing subfolders
# Filename.md


# Version that generates html
Web

# Mac system files
.DS_Store

# Emacs automatic backup files
*~

# Autogenerated equations
eq

# Emacs
*.el

# Particular user scratchwork directories
nate-notes/
