# Include the README, CHANGES, and CONTRIBUTING files
include *.md

# Include the license file
include LICENSE

# include everything in the root
include requirements.txt
include setup.py
include MANIFEST.in
include setup.cfg

# include data files
recursive-include HARK/datasets/data *.txt

# except build files
global-exclude *.pyc
global-exclude *.*~
