dill>=0.3
flake8
future
interpolation>=2.2.3
joblib>=1.2
jupyterlab>=3.6
jupytext>=1.14
matplotlib>=3.6
nbsphinx>=0.8
networkx>=3
numba>=0.56
numpy>=1.23
pandas>=1.5
quantecon>=0.6
recommonmark>=0.7
scipy>=1.10
seaborn>=0.12
sphinx>=6.1
sphinx-rtd-theme
xarray>=2023
