numpy~=1.18.1
matplotlib~=3.2.1
sphinx==1.6.7
future
joblib~=0.15.1
dill
scipy~=1.4.1
flake8
jupyter
funcsigs
jupyter
sphinx-rtd-theme
nbsphinx==0.4.3
seaborn
recommonmark

numba~=0.49.1
interpolation~=2.1.6
quantecon~=0.4.7
setuptools~=47.3.0