name: HARK build on MacOS, Ubuntu and Windows

on:
  push:
    branches:
      - main
    paths-ignore:
      - ".github/workflows/documentation.yml"
      - "docs/**"
  pull_request:
    branches:
      - main
    paths-ignore:
      - ".github/workflows/documentation.yml"
      - "docs/**"

jobs:
  build:
    runs-on: ${{ matrix.os }}
    strategy:
      max-parallel: 5
      matrix:
        os: [ubuntu-latest, macos-latest, windows-latest]
        python-version: ["3.10", "3.11", "3.12", "3.13"]

    steps:
      - uses: actions/checkout@v4
      - name: Set up Python ${{ matrix.python-version }}
        uses: actions/setup-python@v5
        with:
          python-version: ${{ matrix.python-version }}
      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install ".[dev]"
      - name: Test with pytest
        run: |
          pytest -n auto
